*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter,Segoe UI,sans-serif;
  background:#f5f7fb;
  color:#111827;
  padding:15px;
}

.container{
  max-width:600px;
  margin:auto;
}

h1{
  text-align:center;
  margin:20px 0;
  font-size:2rem;
}

.formulario,
.estadisticas,
.libro{
  background:#fff;
  border-radius:24px;
  box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.formulario{
  padding:20px;
  margin-bottom:20px;
}

input,
select{
  width:100%;
  padding:14px;
  border:1px solid #ddd;
  border-radius:14px;
  margin-bottom:12px;
}

button{
  width:100%;
  border:none;
  border-radius:14px;
  padding:14px;
  font-weight:600;
  cursor:pointer;
}

.btn-primary{
  background:#2563eb;
  color:white;
}

.btn-isbn{
  background:#10b981;
  color:white;
  margin-bottom:10px;
}

.estadisticas{
  padding:20px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin-bottom:25px;
}

.tarjeta{
 text-align:center;
}

.tarjeta span{
 display:block;
 font-size:32px;
 font-weight:bold;
 color:#2563eb;
}

.libro{
  padding:15px;
  margin-bottom:15px;
}

.portada{
  width:110px;
  border-radius:12px;
  margin-bottom:10px;
}

.estado{
  display:inline-block;
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

.leido{
  background:#dcfce7;
}

.leyendo{
  background:#dbeafe;
}

.pendiente{
  background:#fef3c7;
}

.abandonado{
  background:#fee2e2;
}
